.input-error{
  border-color: #fc8181 !important;
  box-shadow: 0 0 0 3px rgba(252, 129, 129, 0.1) !important;
}

.error-text{
  color:#e53e3e;
  font-size: 12px;
  margin-top: 4px;
  display: block;
  animation : slidedown 0.3 ease;
}

@keyframes slideDown{
  from{
    opacity: 0;
    transform: translateY(-5px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

